@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face { font-family: Gilroy-ExtraBold; 
    src: url('/src/fonts/Gilroy-ExtraBold.otf'); } 

@font-face { font-family: Gilroy-Light; 
    src: url('/src/fonts/Gilroy-Light.otf'); } 

#gilroybold{
font-family: Gilroy-ExtraBold;
}

#gilroylight {
    font-family: Gilroy-Light;
}
